VITE_EMAILJS_SERVICE_ID=service_xxxxxx
VITE_EMAILJS_PUBLIC_KEY=public_xxxxxxxxxxxxx

VITE_TEMPLATE_AUTOREPLY=template_2oj1fwh
VITE_TEMPLATE_CONTACT=template_4gmq6qs
VITE_TEMPLATE_CRUISE=template_aqr5q66
VITE_TEMPLATE_CORPORATE=template_fnadu7a
VITE_TEMPLATE_DMC=template_y67t1qn
VITE_TEMPLATE_HOTEL=template_aqr5q66
VITE_TEMPLATE_PACKAGE=template_4gmq6q5
VITE_TEMPLATE_OTHER=template_cqd1twd

