.home-page {
  background-color: transparent;
}

.unified-sections-wrapper {
  position: relative;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.unified-sections-wrapper::before {
  content: none;
}

.unified-sections-wrapper > * {
  position: relative;
  z-index: 1;
}
